@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@mixin c {
  width: 80%;
  height: 100%;
  margin: 0.75rem;
  min-height: fit-content;
}
@mixin fc {
  width: 98%;
  height: 100%;
  margin: 0.75rem;
  min-height: fit-content;
}
