/* Colors */

$main-color: #00c6c8; // morski turkus – jaśniejszy, bardziej świeży akcent
$accent-color: #0094af; // chłodny morski błękit – mocniejszy kontrast
$background-color: #0e1c1d; // głęboka morska zieleń z odcieniem czerni – tło strony
$surface-color: #193637; // przyciemniony morski granit – karty, boxy
$text-color: #e4f9fa; // bardzo jasna mięta – czytelna na ciemnym tle
$muted-text-color: #88aeb2; // delikatny szaroniebieski – do opisów i podpowiedzi
$highlight-color: #4ee3d3; // jasny turkus – linki, podświetlenia

/* Other */

$transition-time: 750ms;

/* Fonts */

$font-1: "Raleway"; //Raleway font
$font-2: "Barlow Condensed"; //Barlow Condensed font
$font-3: "Sora"; //Sora Font
